
.container-text{
    display: flex;
   justify-content: flex-start;
  

}


.container-text button:not(:first-child) {
        margin-left: 10px;
}


.preview{
    margin-top: 0.5em;
}


.text-heading {
    display: flex;
    justify-content: space-between;
}
